mixin dropdown(placeholder, name, classnameinput)
  .dropdown
    label(class="dropdown__label h3 ")(for=name) dropdown
    div.dropdown__wrap
      input(class='dropdown__input '+classnameinput)(type='text' value=placeholder name = name)

      


