@import "../color-variables/color-variables.scss";

.color-card {
  display: flex;
  margin:0 0 20px 0;
  &__hex {
    font-size: 19px;
    line-height: 28px;
    color: #1F2041;
  }
  &__color-box {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    margin:0 40px 0 0;
    &_color_dark-shade100 {
      background-color: $dark-color;
    }
    &_color_dark-shade75 {
      background-color: $dark-color;
      opacity: 0.75;
    }
    &_color_dark-shade50 {
      background-color: $dark-color;
      opacity: 0.50;
    }
    &_color_dark-shade25 {
      background-color: $dark-color;
      opacity: 0.25;
    }
    &_color_dark-shade5 {
      background-color: $dark-color;
      opacity: 0.05;
    }
    &_color_main-color {
      background-color: $main-color;
    }
    &_color_second-color {
      background-color: $second-color;
    }
  }
  &__text-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__title {

  }
}


