.container {
  width: 1156px;
  margin: 0px auto;
}
@media (max-width:1200px) {
  .container {
      width: 970px;
      padding-left: 15px;
      padding-right: 15px;
  }
}
@media (max-width:992px) {
  .container {
      width: auto;
      max-width: 750px;
      padding-left: 15px;
      padding-right: 15px;
  }
}
@media (max-width:767px) {
  .container {
      padding-left: 10px;
      padding-right: 10px;
  }
}
@media (max-width:500px) {
  .container {
      padding-left: 0px;
      padding-right: 0px;
  }
}
