doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Colors & Type
  body 
    header.header-uikit
      .logo-colourless.header-uikit__logo
        img(src=('../../components/logo-colourless/logo-colourless.svg'))
    .container
        main.colors-type-main
          include ../../components/text-field/text-field.pug