doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Colors & Type
  body 
    header.header-uikit
      .logo-colourless
        img(src=('../../components/logo-colourless/logo-colourless.svg'))
    .container
      include ../../components/color-sample/color-sample.pug
       
