mixin titleCard(name, text)
  div(class=".title-card_size_"+name)
    .title-card__title=name
    .title-card__hex=text

.title-samples
  +titleCard('H1','This one is the sub')
  +titleCard('H2','Next one is the item title inside widgets')
  +titleCard('H3','This is a label or cta text')
  +titleCard('Body','This is the body text which is used for most of the design, like paragraphs, lists, etc.')

