mixin text-field(placeholder, type, name, classnamelabel, classnameinput)
  .text-field
    label(class="text-field__label h3 "+classnamelabel)(for=name) text-field
    input(class='text-field__input '+classnameinput)(type=type placeholder=placeholder name = name)



